*~
*#
*.swp

*.DS_Store

__pycache__/
*.py[cod]
*$py.class
*.egg-info/

/.coverage
/.coverage.*
/.cache
/.pytest_cache
/.mypy_cache

/doc/_apidoc/
/build

/sagemaker-hyperpod/build
/sagemaker-hyperpod/.coverage
/sagemaker-hyperpod/.coverage.*

# Ignore all contents of result and results directories
/result/
/results/

.idea/