[submodule "src/hyperpod_cli/private_sagemaker_training_launcher"]
	path = src/hyperpod_cli/private_sagemaker_training_launcher
	url = https://github.com/aws/private-sagemaker-training-launcher-staging
