*~
*#
*.swp

*.DS_Store

__pycache__/
*.py[cod]
*$py.class
*.egg-info/

/.coverage
/.coverage.*
/.cache
/.pytest_cache
/.mypy_cache

/doc/_apidoc/
doc/_build/
/build

/sagemaker-hyperpod/build
/sagemaker-hyperpod/.coverage
/sagemaker-hyperpod/.coverage.*

/hyperpod-cluster-stack-template/build
/hyperpod-pytorch-job-template/build
/hyperpod-custom-inference-template/build
/hyperpod-jumpstart-inference-template/build

# Ignore all contents of result and results directories
/result/
/results/

.idea/

.venv*
venv
