---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.namePrefix }}-controller-manager
  namespace: {{ .Values.shortPrefix }}-system
  labels:
    control-plane: {{ .Values.namePrefix }}-controller-manager
    app.kubernetes.io/name: {{ .Values.namePrefix }}
spec:
  selector:
    matchLabels:
      control-plane: {{ .Values.namePrefix }}-controller-manager
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        control-plane: {{ .Values.namePrefix }}-controller-manager
    spec:
      # TODO(user): Uncomment the following code to configure the nodeAffinity expression
      # according to the platforms which are supported by your solution.
      # It is considered best practice to support multiple architectures. You can
      # build your manager image using the makefile target docker-buildx.
      # affinity:
      #   nodeAffinity:
      #     requiredDuringSchedulingIgnoredDuringExecution:
      #       nodeSelectorTerms:
      #         - matchExpressions:
      #           - key: kubernetes.io/arch
      #             operator: In
      #             values:
      #               - amd64
      #               - arm64
      #               - ppc64le
      #               - s390x
      #           - key: kubernetes.io/os
      #             operator: In
      #             values:
      #               - linux
      securityContext:
        runAsNonRoot: true
        # TODO(user): For common cases that do not require escalating privileges
        # it is recommended to ensure that all your Pods/Containers are restrictive.
        # More info: https://kubernetes.io/docs/concepts/security/pod-security-standards/#restricted
        # Please uncomment the following code if your project does NOT have to work on old Kubernetes
        # versions < 1.19 or on vendors versions which do NOT support this field by default (i.e. Openshift < 4.11 ).
        # seccompProfile:
        #   type: RuntimeDefault
      containers:
      - command:
        - /hyperpod-inference-manager
        args:
          - --metrics-bind-address=:8443
          - --leader-elect
          - --health-probe-bind-address=:8081
          - --webhook-cert-path=/tmp/k8s-webhook-server/serving-certs
        image: "{{ .Values.image.repository }}/hyperpod-inference-operator:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        name: manager
        ports:
        - containerPort: 9443
          name: webhook-server
          protocol: TCP
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - "ALL"
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        startupProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 180
          failureThreshold: 120
          periodSeconds: 60
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        # TODO(user): Configure the resources accordingly based on the project requirements.
        # More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi
        volumeMounts:
        - mountPath: /tmp/k8s-webhook-server/serving-certs
          name: webhook-certs
          readOnly: true
        env:
          - name: HYPERPOD_CLUSTER_ARN
            value: {{ .Values.hyperpodClusterArn }}
          - name: EXECUTION_ROLE_ARN
            value: {{ .Values.executionRoleArn }}
          - name: JUMPSTART_GATED_MODEL_DOWNLOAD_ARN
            value: {{ .Values.jumpstartGatedModelDownloadRoleArn }}
          - name: STAGE
            value: {{ .Values.stage }}
          - name: EKS_CLUSTER_NAME
            value: {{ .Values.eksClusterName }}
          - name: TLS_CERTIFICATE_OUTPUT_S3URI
            value: {{ .Values.tlsCertificateS3Bucket }}
          - name: ENABLE_WEBHOOKS
            value: "{{ .Values.enableWebhooks }}"
          - name: CHART_VERSION
            value: {{ .Chart.Version | quote }}
          - name: APP_VERSION
            value: {{ .Chart.AppVersion | quote }}
      serviceAccountName: {{ .Values.namePrefix }}-controller-manager
      terminationGracePeriodSeconds: 10
      volumes:
      - name: webhook-certs
        secret:
          secretName: webhook-server-cert